body {
    overflow-x: hidden;
}


.container2 {
    background: var(--lines);
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 1px auto; /* Center the element horizontally */
    width: 60%;
    height: 30%;
}

h6 {
    font-size: 1em; /* Increase the font size */
    text-align: center; /* Center the text */
    color: var(--accent); /* Change the text color to a darker gray */
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-top: 15px;
}


label2 {
    display: block;
    /* margin-top: 5px; */
    /* margin-bottom: 5px; */
}

input, textarea {
    width: 100%;
    padding: 3px; 
    border: 1px solid #ccc;
    border-radius: 3px;
}

.textfield2 {
    color: var(--accent); /* Change the text color to a darker gray */
    font-size: 0.75em; /* Increase the font size */
    margin-top: 10px; /* Adjust this value to push the element lower */
    padding: 0%;
    margin-bottom: -10px; /* Adjust this value to control the bottom margin */
}
  
  .form-group2 input, .form-group2 textarea {
    width: 50%;
    border: 1px solid #ccc; /* Add a light gray border */
    margin-top: 5px; /* Add some space between the form fields */
    margin-bottom: 0;
  }

button2 {
    padding: 8px 16px; 
    background: rgb(38, 83, 204); /* Change the background color */
    border: none;
    color: var(--accent);
    border-radius: 3px;
    cursor: pointer;
    font-size: large;
}

button2:hover {
    background: rgb(27, 58, 145);
    border-radius: 100%;
}

#status {
    margin-top: 10px; /* Reduced margin */
    color: red;
}


svg {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1; /* Set a higher value to move it to the top */
    transform: translate(-20%, -5%); /* Move SVG to adjust its position */
}


/* Circle Styles */
.circle {
    fill: var(--accent);
    stroke: #000;
    stroke-width: 2;
    transition: transform 0.2s; /* Smooth transition */
}

.circle:hover {
    animation: jiggle 0.5s infinite; /* Apply jiggle animation on hover */
}

@keyframes jiggle {
    0%, 100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(-5deg);
    }
    75% {
        transform: rotate(5deg);
    }
}

/* Text Styles */
.circle-text {
    font-size: 20px;
    fill: #333;
    text-anchor: middle;
}

.filler {
    margin: 20px; /* Adds space around the div */
    padding: 10px; /* Adds space inside the div */
    height: 100px; /* Sets the height of the div */
    width: 100%; /* Sets the width of the div to fill its container */
}

