.workaccordion {
  margin: 50px auto;
  border-radius: 5px;
  overflow: hidden;
}

.workaccordion-item {
  border-bottom: var(--accent) 1px solid;
}

.workaccordion-header {
  padding: 15px 20px;
  cursor: pointer;
  color: var(--accent);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.workaccordion-header h2 {
  margin: 0;
  font-size: 18px;
}

.workaccordion-content {
  display: none;
  padding: 20px;
  background:var(--main);
}

.workaccordion-content p {
  margin: 0;
  font-size: 16px;
}
